## Set-up

In [1]:
# Import packages 
from numpy import loadtxt
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Input
import pandas as pd
import csv
import tensorflow as tf
from keras.wrappers.scikit_learn import KerasClassifier
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from scikeras.wrappers import KerasClassifier
from tensorflow.keras.callbacks import EarlyStopping#
import keras_tuner
import numpy as np
from sklearn.preprocessing import OneHotEncoder

## Dataset splitting and defining target and sample data

In [2]:
# Read in Training dataset
trn = pd.read_csv("df.csv", header = 0, na_filter = False)
trn

,Unnamed: 0,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide.metformin,glipizide.metformin,glimepiride.pioglitazone,metformin.rosiglitazone,metformin.pioglitazone,change,diabetesMed,readmitted
0,1,72091308,20123568,Caucasian,Female,8,1,22,7,7,...,1,3,2,1,1,1,1,1,2,3
1,2,72848634,20377854,Caucasian,Female,7,2,1,1,3,...,1,3,2,1,1,1,1,2,2,3
2,3,73062156,20408121,Caucasian,Female,10,1,1,7,4,...,1,2,2,1,1,1,1,2,2,3
3,4,73731852,20542797,Caucasian,Male,8,1,2,7,10,...,1,3,2,1,1,1,1,1,2,3
4,5,81355914,7239654,Caucasian,Female,8,1,3,6,12,...,1,3,2,1,1,1,1,2,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26750,26751,443739044,106595208,Caucasian,Male,8,2,6,7,6,...,1,4,2,1,1,1,1,1,2,3
26751,26752,443793668,47293812,Caucasian,Male,9,1,13,7,3,...,1,1,2,1,1,1,1,1,2,3
26752,26753,443804570,33230016,Caucasian,Female,8,1,22,7,8,...,1,3,2,1,1,1,1,2,2,2
26753,26754,443816024,106392411,Caucasian,Female,8,3,6,1,3,...,1,3,2,1,1,1,1,1,2,3
26754,26755,443857166,31693671,Caucasian,Female,9,2,3,7,10,...,1,4,2,1,1,1,1,1,2,3

In [3]:
# Check features in dataframe
print(list(trn))

['Unnamed: 0', 'encounter_id', 'patient_nbr', 'race', 'gender', 'age', 'admission_type_id', 'discharge_disposition_id', 'admission_source_id', 'time_in_hospital', 'payer_code', 'medical_specialty', 'num_lab_procedures', 'num_procedures', 'num_medications', 'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1', 'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult', 'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide', 'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide', 'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone', 'tolazamide', 'examide', 'citoglipton', 'insulin', 'glyburide.metformin', 'glipizide.metformin', 'glimepiride.pioglitazone', 'metformin.rosiglitazone', 'metformin.pioglitazone', 'change', 'diabetesMed', 'readmitted']

In [4]:
# Drop redundant columns 
trn_new = trn.drop(trn.columns[[0]],
                       axis = 1)

In [5]:
trn_new = trn_new.drop(trn_new.columns[[0]],
                       axis = 1)

In [6]:
trn_new = trn_new.drop(trn_new.columns[[0]],
                       axis = 1)

In [7]:
# View the cleaned dataframe
trn_new.head()

,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,medical_specialty,num_lab_procedures,...,citoglipton,insulin,glyburide.metformin,glipizide.metformin,glimepiride.pioglitazone,metformin.rosiglitazone,metformin.pioglitazone,change,diabetesMed,readmitted
0,Caucasian,Female,8,1,22,7,7,7,26,58,...,1,3,2,1,1,1,1,1,2,3
1,Caucasian,Female,7,2,1,1,3,7,18,59,...,1,3,2,1,1,1,1,2,2,3
2,Caucasian,Female,10,1,1,7,4,7,7,56,...,1,2,2,1,1,1,1,2,2,3
3,Caucasian,Male,8,1,2,7,10,7,17,68,...,1,3,2,1,1,1,1,1,2,3
4,Caucasian,Female,8,1,3,6,12,15,17,77,...,1,3,2,1,1,1,1,2,2,3

In [8]:
# Drop the predictor feature from the dataframe
trn_new2 = trn_new.drop(['gender'], axis = 1)

In [9]:
# View the sample dataframe
trn_new2

,race,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,medical_specialty,num_lab_procedures,num_procedures,...,citoglipton,insulin,glyburide.metformin,glipizide.metformin,glimepiride.pioglitazone,metformin.rosiglitazone,metformin.pioglitazone,change,diabetesMed,readmitted
0,Caucasian,8,1,22,7,7,7,26,58,2,...,1,3,2,1,1,1,1,1,2,3
1,Caucasian,7,2,1,1,3,7,18,59,3,...,1,3,2,1,1,1,1,2,2,3
2,Caucasian,10,1,1,7,4,7,7,56,1,...,1,2,2,1,1,1,1,2,2,3
3,Caucasian,8,1,2,7,10,7,17,68,1,...,1,3,2,1,1,1,1,1,2,3
4,Caucasian,8,1,3,6,12,15,17,77,5,...,1,3,2,1,1,1,1,2,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26750,Caucasian,8,2,6,7,6,7,7,46,5,...,1,4,2,1,1,1,1,1,2,3
26751,Caucasian,9,1,13,7,3,7,7,45,0,...,1,1,2,1,1,1,1,1,2,3
26752,Caucasian,8,1,22,7,8,7,17,51,6,...,1,3,2,1,1,1,1,2,2,2
26753,Caucasian,8,3,6,1,3,7,25,27,1,...,1,3,2,1,1,1,1,1,2,3
26754,Caucasian,9,2,3,7,10,7,49,45,2,...,1,4,2,1,1,1,1,1,2,3

In [10]:
# Sort the predictor variable
y1 = trn_new[['gender']]

In [11]:
# View the dataframe
y1

       gender
0      Female
1      Female
2      Female
3        Male
4      Female
...       ...
26750    Male
26751    Male
26752  Female
26753  Female
26754  Female

[26755 rows x 1 columns]

In [12]:
# Check for unique values in race column
np.unique(trn_new['race'])

array(['AfricanAmerican', 'Asian', 'Caucasian', 'Hispanic', 'Other'],
      dtype=object)

In [13]:
# Creating instance of one-hot-encoder
enc = OneHotEncoder(handle_unknown='ignore')
# Passing race column to array
enc_df = pd.DataFrame(enc.fit_transform(trn_new2[['race']]).toarray())
# Merge with dataframe
trn_new2 = trn_new2.join(enc_df)
trn_new2

,race,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,medical_specialty,num_lab_procedures,num_procedures,...,metformin.rosiglitazone,metformin.pioglitazone,change,diabetesMed,readmitted,0,1,2,3,4
0,Caucasian,8,1,22,7,7,7,26,58,2,...,1,1,1,2,3,0.0,0.0,1.0,0.0,0.0
1,Caucasian,7,2,1,1,3,7,18,59,3,...,1,1,2,2,3,0.0,0.0,1.0,0.0,0.0
2,Caucasian,10,1,1,7,4,7,7,56,1,...,1,1,2,2,3,0.0,0.0,1.0,0.0,0.0
3,Caucasian,8,1,2,7,10,7,17,68,1,...,1,1,1,2,3,0.0,0.0,1.0,0.0,0.0
4,Caucasian,8,1,3,6,12,15,17,77,5,...,1,1,2,2,3,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26750,Caucasian,8,2,6,7,6,7,7,46,5,...,1,1,1,2,3,0.0,0.0,1.0,0.0,0.0
26751,Caucasian,9,1,13,7,3,7,7,45,0,...,1,1,1,2,3,0.0,0.0,1.0,0.0,0.0
26752,Caucasian,8,1,22,7,8,7,17,51,6,...,1,1,2,2,2,0.0,0.0,1.0,0.0,0.0
26753,Caucasian,8,3,6,1,3,7,25,27,1,...,1,1,1,2,3,0.0,0.0,1.0,0.0,0.0
26754,Caucasian,9,2,3,7,10,7,49,45,2,...,1,1,1,2,3,0.0,0.0,1.0,0.0,0.0

In [14]:
# Drop original race column as its no longer needed
trn_new2_enc = trn_new2.drop(['race'], axis = 1)

## Early-Stopping

In [15]:
# Creating early stopping
custom_early_stopping = EarlyStopping(
    monitor='val_accuracy', 
    patience=20, 
    min_delta=0.001, 
    mode='max'
)

## Static Model

In [16]:
# Define the keras model
model = Sequential()
model.add(Input(shape=(45,)))
model.add(Dense(47, activation='relu'))
model.add(Dense(10, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [17]:
# Compile the keras model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [18]:
# Change datatype for all int64 columns to float
s = trn_new2_enc.select_dtypes(include='int64').columns
trn_new2_enc[s] = trn_new2_enc[s].astype("float")

In [19]:
# Check for changes
trn_new2_enc[s].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26755 entries, 0 to 26754
Data columns (total 45 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       26755 non-null  float64
 1   admission_type_id         26755 non-null  float64
 2   discharge_disposition_id  26755 non-null  float64
 3   admission_source_id       26755 non-null  float64
 4   time_in_hospital          26755 non-null  float64
 5   payer_code                26755 non-null  float64
 6   medical_specialty         26755 non-null  float64
 7   num_lab_procedures        26755 non-null  float64
 8   num_procedures            26755 non-null  float64
 9   num_medications           26755 non-null  float64
 10  number_outpatient         26755 non-null  float64
 11  number_emergency          26755 non-null  float64
 12  number_inpatient          26755 non-null  float64
 13  diag_1                    26755 non-null  float64
 14  diag_2                    26755 non-null  float64
 15  diag_3                    26755 non-null  float64
 16  number_diagnoses          26755 non-null  float64
 17  max_glu_serum             26755 non-null  float64
 18  A1Cresult                 26755 non-null  float64
 19  metformin                 26755 non-null  float64
 20  repaglinide               26755 non-null  float64
 21  nateglinide               26755 non-null  float64
 22  chlorpropamide            26755 non-null  float64
 23  glimepiride               26755 non-null  float64
 24  acetohexamide             26755 non-null  float64
 25  glipizide                 26755 non-null  float64
 26  glyburide                 26755 non-null  float64
 27  tolbutamide               26755 non-null  float64
 28  pioglitazone              26755 non-null  float64
 29  rosiglitazone             26755 non-null  float64
 30  acarbose                  26755 non-null  float64
 31  miglitol                  26755 non-null  float64
 32  troglitazone              26755 non-null  float64
 33  tolazamide                26755 non-null  float64
 34  examide                   26755 non-null  float64
 35  citoglipton               26755 non-null  float64
 36  insulin                   26755 non-null  float64
 37  glyburide.metformin       26755 non-null  float64
 38  glipizide.metformin       26755 non-null  float64
 39  glimepiride.pioglitazone  26755 non-null  float64
 40  metformin.rosiglitazone   26755 non-null  float64
 41  metformin.pioglitazone    26755 non-null  float64
 42  change                    26755 non-null  float64
 43  diabetesMed               26755 non-null  float64
 44  readmitted                26755 non-null  float64
dtypes: float64(45)
memory usage: 9.2 MB

In [20]:
# Converting dataframes to tensor
trn_new3 = tf.convert_to_tensor(trn_new2_enc[s])

In [21]:
# Create dictionary and map values to binary classes
gender_dict = {'Female':0, 'Male':1}
y1['gender'] = y1['gender'].map(gender_dict)
y1

C:\Users\benmk\AppData\Local\Temp\ipykernel_2904\904100397.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y1['gender'] = y1['gender'].map(gender_dict)

       gender
0           0
1           0
2           0
3           1
4           0
...       ...
26750       1
26751       1
26752       0
26753       0
26754       0

[26755 rows x 1 columns]

In [22]:
# View target column
y1

       gender
0           0
1           0
2           0
3           1
4           0
...       ...
26750       1
26751       1
26752       0
26753       0
26754       0

[26755 rows x 1 columns]

In [23]:
# Convert target column to tensor
y1 = tf.convert_to_tensor(y1)

In [24]:
# View tensor feature
y1

<tf.Tensor: shape=(26755, 1), dtype=int64, numpy=
array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]], dtype=int64)>

In [25]:
# Fit the keras model on the dataset
model.fit(trn_new3, y1, epochs=1500, batch_size=200, callbacks = [custom_early_stopping], validation_split=0.2)

Epoch 1/1500
108/108 [==============================] - 1s 3ms/step - loss: 5.1128 - accuracy: 0.4980 - val_loss: 1.6651 - val_accuracy: 0.5164
Epoch 2/1500
108/108 [==============================] - 0s 2ms/step - loss: 0.9513 - accuracy: 0.5199 - val_loss: 0.8071 - val_accuracy: 0.5208
Epoch 3/1500
108/108 [==============================] - 0s 2ms/step - loss: 0.7804 - accuracy: 0.5309 - val_loss: 1.1591 - val_accuracy: 0.5216
Epoch 4/1500
108/108 [==============================] - 0s 2ms/step - loss: 0.7960 - accuracy: 0.5294 - val_loss: 1.4795 - val_accuracy: 0.5229
Epoch 5/1500
108/108 [==============================] - 0s 2ms/step - loss: 0.8251 - accuracy: 0.5383 - val_loss: 0.7601 - val_accuracy: 0.5283
Epoch 6/1500
108/108 [==============================] - 0s 2ms/step - loss: 0.7413 - accuracy: 0.5406 - val_loss: 0.7714 - val_accuracy: 0.5070
Epoch 7/1500
108/108 [==============================] - 0s 2ms/step - loss: 0.7281 - accuracy: 0.5438 - val_loss: 0.7409 - val_accuracy: 0.5509
Epoch 8/1500
108/108 [==============================] - 0s 2ms/step - loss: 0.7303 - accuracy: 0.5415 - val_loss: 0.7346 - val_accuracy: 0.5466
Epoch 9/1500
108/108 [==============================] - 0s 2ms/step - loss: 0.7493 - accuracy: 0.5379 - val_loss: 0.8694 - val_accuracy: 0.4876
Epoch 10/1500
108/108 [==============================] - 0s 2ms/step - loss: 0.7439 - accuracy: 0.5382 - val_loss: 0.7813 - val_accuracy: 0.5392
Epoch 11/1500
108/108 [==============================] - 0s 2ms/step - loss: 0.7266 - accuracy: 0.5474 - val_loss: 0.7804 - val_accuracy: 0.4937
Epoch 12/1500
108/108 [==============================] - 0s 2ms/step - loss: 0.7343 - accuracy: 0.5447 - val_loss: 1.3364 - val_accuracy: 0.4782
Epoch 13/1500
108/108 [==============================] - 0s 2ms/step - loss: 0.7643 - accuracy: 0.5364 - val_loss: 0.7435 - val_accuracy: 0.5197
Epoch 14/1500
108/108 [==============================] - 0s 2ms/step - loss: 0.7198 - accuracy: 0.5489 - val_loss: 0.7292 - val_accuracy: 0.5227
Epoch 15/1500
108/108 [==============================] - 0s 2ms/step - loss: 0.7132 - accuracy: 0.5504 - val_loss: 0.8056 - val_accuracy: 0.5119
Epoch 16/1500
108/108 [==============================] - 0s 2ms/step - loss: 0.7314 - accuracy: 0.5527 - val_loss: 0.9105 - val_accuracy: 0.5178
Epoch 17/1500
108/108 [==============================] - 0s 2ms/step - loss: 0.7296 - accuracy: 0.5463 - val_loss: 0.7926 - val_accuracy: 0.4919
Epoch 18/1500
108/108 [==============================] - 0s 2ms/step - loss: 0.7093 - accuracy: 0.5516 - val_loss: 0.7431 - val_accuracy: 0.5492
Epoch 19/1500
108/108 [==============================] - 0s 2ms/step - loss: 0.6986 - accuracy: 0.5582 - val_loss: 0.7834 - val_accuracy: 0.5279
Epoch 20/1500
108/108 [==============================] - 0s 3ms/step - loss: 0.7187 - accuracy: 0.5510 - val_loss: 0.7689 - val_accuracy: 0.4995
Epoch 21/1500
108/108 [==============================] - 0s 3ms/step - loss: 0.7063 - accuracy: 0.5533 - val_loss: 0.7049 - val_accuracy: 0.5530
Epoch 22/1500
108/108 [==============================] - 0s 2ms/step - loss: 0.7168 - accuracy: 0.5435 - val_loss: 0.7462 - val_accuracy: 0.5186
Epoch 23/1500
108/108 [==============================] - 0s 2ms/step - loss: 0.7185 - accuracy: 0.5494 - val_loss: 0.7185 - val_accuracy: 0.5227
Epoch 24/1500
108/108 [==============================] - 0s 2ms/step - loss: 0.7088 - accuracy: 0.5519 - val_loss: 1.0476 - val_accuracy: 0.4810
Epoch 25/1500
108/108 [==============================] - 0s 2ms/step - loss: 0.7116 - accuracy: 0.5555 - val_loss: 0.7000 - val_accuracy: 0.5532
Epoch 26/1500
108/108 [==============================] - 0s 2ms/step - loss: 0.7026 - accuracy: 0.5540 - val_loss: 0.7183 - val_accuracy: 0.5431
Epoch 27/1500
108/108 [==============================] - 0s 3ms/step - loss: 0.7070 - accuracy: 0.5513 - val_loss: 0.7204 - val_accuracy: 0.5264
Epoch 28/1500
108/108 [==============================] - 0s 2ms/step - loss: 0.7287 - accuracy: 0.5474 - val_loss: 0.7360 - val_accuracy: 0.5332
Epoch 29/1500
108/108 [==============================] - 0s 2ms/step - loss: 0.7060 - accuracy: 0.5514 - val_loss: 1.0218 - val_accuracy: 0.5221
Epoch 30/1500
108/108 [==============================] - 0s 2ms/step - loss: 0.7446 - accuracy: 0.5379 - val_loss: 0.8391 - val_accuracy: 0.5246
Epoch 31/1500
108/108 [==============================] - 0s 2ms/step - loss: 0.7317 - accuracy: 0.5483 - val_loss: 0.7018 - val_accuracy: 0.5586
Epoch 32/1500
108/108 [==============================] - 0s 2ms/step - loss: 0.7152 - accuracy: 0.5490 - val_loss: 0.8855 - val_accuracy: 0.5195
Epoch 33/1500
108/108 [==============================] - 0s 2ms/step - loss: 0.7358 - accuracy: 0.5507 - val_loss: 0.7305 - val_accuracy: 0.5311
Epoch 34/1500
108/108 [==============================] - 0s 2ms/step - loss: 0.7043 - accuracy: 0.5515 - val_loss: 0.6996 - val_accuracy: 0.5477
Epoch 35/1500
108/108 [==============================] - 0s 3ms/step - loss: 0.7068 - accuracy: 0.5517 - val_loss: 0.8615 - val_accuracy: 0.4874
Epoch 36/1500
108/108 [==============================] - 0s 2ms/step - loss: 0.7142 - accuracy: 0.5567 - val_loss: 0.7025 - val_accuracy: 0.5468
Epoch 37/1500
108/108 [==============================] - 0s 2ms/step - loss: 0.7041 - accuracy: 0.5536 - val_loss: 0.7045 - val_accuracy: 0.5384
Epoch 38/1500
108/108 [==============================] - 0s 2ms/step - loss: 0.6983 - accuracy: 0.5570 - val_loss: 0.8844 - val_accuracy: 0.5242
Epoch 39/1500
108/108 [==============================] - 0s 2ms/step - loss: 0.7121 - accuracy: 0.5501 - val_loss: 1.0701 - val_accuracy: 0.5231
Epoch 40/1500
108/108 [==============================] - 0s 2ms/step - loss: 0.7381 - accuracy: 0.5463 - val_loss: 0.7549 - val_accuracy: 0.5162
Epoch 41/1500
108/108 [==============================] - 0s 2ms/step - loss: 0.6989 - accuracy: 0.5547 - val_loss: 1.0605 - val_accuracy: 0.5235
Epoch 42/1500
108/108 [==============================] - 0s 2ms/step - loss: 0.7087 - accuracy: 0.5539 - val_loss: 0.7464 - val_accuracy: 0.5098
Epoch 43/1500
108/108 [==============================] - 0s 2ms/step - loss: 0.7095 - accuracy: 0.5549 - val_loss: 0.6977 - val_accuracy: 0.5520
Epoch 44/1500
108/108 [==============================] - 0s 2ms/step - loss: 0.6996 - accuracy: 0.5574 - val_loss: 0.8606 - val_accuracy: 0.5251
Epoch 45/1500
108/108 [==============================] - 0s 2ms/step - loss: 0.7046 - accuracy: 0.5551 - val_loss: 0.7899 - val_accuracy: 0.5313
Epoch 46/1500
108/108 [==============================] - 0s 2ms/step - loss: 0.7107 - accuracy: 0.5483 - val_loss: 0.7110 - val_accuracy: 0.5451
Epoch 47/1500
108/108 [==============================] - 0s 2ms/step - loss: 0.7059 - accuracy: 0.5525 - val_loss: 1.1437 - val_accuracy: 0.5227
Epoch 48/1500
108/108 [==============================] - 0s 2ms/step - loss: 0.7795 - accuracy: 0.5414 - val_loss: 0.7122 - val_accuracy: 0.5425
Epoch 49/1500
108/108 [==============================] - 0s 2ms/step - loss: 0.7009 - accuracy: 0.5563 - val_loss: 0.6978 - val_accuracy: 0.5520
Epoch 50/1500
108/108 [==============================] - 0s 2ms/step - loss: 0.7018 - accuracy: 0.5572 - val_loss: 0.7552 - val_accuracy: 0.5064
Epoch 51/1500
108/108 [==============================] - 0s 2ms/step - loss: 0.7068 - accuracy: 0.5501 - val_loss: 0.8544 - val_accuracy: 0.5276

## Model function

In [26]:
# Creating model function
def get_model(hp):
    model = Sequential()
    model.add(Input(shape=(45,)))
    for i in range(hp.Int("num_layers",1,7)):
        model.add(Dense(units = hp.Int(f"units_{i}",min_value = 10, max_value = 28, step = 3), activation = hp.Choice("activation",["relu","tanh"]),))
    model.add(Dense(1, activation='sigmoid'))
    learning_rate = hp.Float("lr",min_value = 1e-4,max_value = 1e-2,sampling="log")
    model.compile(loss = 'binary_crossentropy', optimizer = tf.keras.optimizers.Adam(learning_rate = learning_rate), metrics = ['accuracy'])
    return model

## Tensorboard

In [27]:
# Set tensorboard callback
tensorboard_callback = tf.keras.callbacks.TensorBoard(log_dir="C:/logs4")

## Keras Tuner

In [28]:
# Defining Keras tuner
tuner = keras_tuner.RandomSearch(hypermodel=get_model,objective="val_accuracy",max_trials=30,executions_per_trial=1,overwrite=True,directory="C:/Users/benmk/",project_name="diabetes4")

In [29]:
# Whats being captured by the Keras tuner
tuner.search_space_summary()

Search space summary
Default search space size: 4
num_layers (Int)
{'default': None, 'conditions': [], 'min_value': 1, 'max_value': 7, 'step': 1, 'sampling': 'linear'}
units_0 (Int)
{'default': None, 'conditions': [], 'min_value': 10, 'max_value': 28, 'step': 3, 'sampling': 'linear'}
activation (Choice)
{'default': 'relu', 'conditions': [], 'values': ['relu', 'tanh'], 'ordered': False}
lr (Float)
{'default': 0.0001, 'conditions': [], 'min_value': 0.0001, 'max_value': 0.01, 'step': None, 'sampling': 'log'}

In [30]:
# Fit the keras model on the dataset
tuner.search(trn_new3, y1, epochs=1500, batch_size=200, callbacks = [custom_early_stopping, tensorboard_callback], validation_split=0.2)

Trial 30 Complete [00h 00m 12s]
val_accuracy: 0.5514857172966003

Best val_accuracy So Far: 0.5628854632377625
Total elapsed time: 00h 06m 33s
INFO:tensorflow:Oracle triggered exit

## Calling Tensorboard

In [31]:
# Load the extension for tensorboard
%load_ext tensorboard

In [33]:
# Reload extension for tensorboard
%reload_ext tensorboard

In [32]:
# Launch tensorboard
%tensorboard --logdir "C:/logs4"

Reusing TensorBoard on port 6006 (pid 20868), started 5 days, 4:24:34 ago. (Use '!kill 20868' to kill it.)

In [33]:
# Launch tensorboard alternative way
%tensorboard --logdir "C:/logs4"  --host localhost

Reusing TensorBoard on port 6006 (pid 23388), started 4 days, 9:38:14 ago. (Use '!kill 23388' to kill it.)